@model ShareCode.Models.ViewLogin
@if (ViewBag.tbsai)
{
    <div class="ui error message">
        <span>Sai tài khoản hoặc mật khẩu!</span>
    </div>
}
else
{
    <input type="hidden" value="@Model.ReturnUrl" id="reurl" />
    <script>
        window.location.href = document.getElementById("reurl").value;
    </script>
}
