@using ShareCode.Models;
@model tblUser 
@{
    ViewBag.Title = "MyInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyInfo</h2>
@if(Session["notifi_resetpass"] != null)
{
    <div class="alert alert-success">
        <span>@Session["notifi_resetpass"]</span>
    </div>
    Session["notifi_resetpass"] = null;
}
<div class="container">
    <span>@Model.User_DisplayName</span>
    <span>@Model.User_Email</span>
    <span>@Model.User_Password</span>
</div>