@using ShareCode.Models;
@model tblUser
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ResetPassword</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <span id="noti_resetpass"></span>
</div>
<form onsubmit="return checkResetPass()" action="@Url.Action("ResetPassword")" method="post">
    <input type="password" id="oldpass" class="form-control" placeholder="Nhập mật khẩu cũ" />
    <input type="password" id="confirmpass" class="form-control" placeholder="Xác nhận mật khẩu" />
    <input type="password" id="newpass" name="NewPassword" class="form-control" placeholder="Nhập mật khẩu mới" />
    <input type="submit" value="Đổi mật khẩu" />
</form>
<input type="hidden" value="@Model.User_Password" id="pass" />
<script>
    function checkResetPass() {
        let pass = document.getElementById("pass").value;
        let oldpass = document.getElementById("oldpass").value;
        let confirmpass = document.getElementById("confirmpass").value;
        let newpass = document.getElementById("newpass").value;

        debugger
        if (oldpass != pass) {
            document.getElementById("noti_resetpass").innerText = "Mật khẩu không đúng!";
            return false;
        }
        else if (oldpass != confirmpass) {
            document.getElementById("noti_resetpass").innerText = "Mật khẩu không trùng khớp!";
            return false;
        }
        return true;
    }
</script>