@using ShareCode.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<tblPost>

@{
    DBShareCodeEntities db = new DBShareCodeEntities();
    tblCustom custom = db.tblCustoms.Find(1);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="slider-area slider-area2" style="height: 345px;">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-11 col-md-12">
                        <form style="margin-top: 15%">
                            <div class="row mt-3" style="padding: 5px">
                                <div class="col-lg-12" style="padding: 5px;">
                                    <div class="ui search">
                                        <div class="ui icon input" style="width: 100%">
                                            <input class="prompt" type="text" placeholder="Nhập tên code, ngôn ngữ, thể loại, nội dung..." style="border-radius: 5px">
                                            <i class="search icon"></i>
                                        </div>
                                        <div class="results"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-2" style="padding: 5px;">
                                    <select class="form-control w-100">
                                        <option>Chọn danh mục</option>tblPosts
                                    </select>
                                </div>
                                <div class="col-lg-4 mt-2" style="padding: 5px">
                                    <select class="form-control w-100">
                                        <option>Chọn code</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 mt-2" style="padding: 5px">
                                    <button class="ui red button w-100" style="height: 44px;"><i class="fa fa-search">&nbsp;</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid bg-dark">
    <div class="col-lg-12">
        <div class="">
            <div style="padding: 10px">
                <div class="row">
                    <div class="col-lg-3" style="padding: 10px">
                        <select class="ui search dropdown w-100">
                            <option value="">Tất cả nghành nghề</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                        </select>
                    </div>
                    <div class="col-lg-3" style="padding: 10px">
                        <select class="ui search dropdown w-100">
                            <option value="">Tất cả thể loại</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                        </select>
                    </div>
                    <div class="col-lg-3" style="padding: 10px">
                        <select class="ui search dropdown w-100">
                            <option value="">Tất cả hình thức</option>
                            <option value="AL">Miễn phí</option>
                            <option value="AK">Có phí</option>
                        </select>
                    </div>
                    <div class="col-lg-3" style="padding: 10px">
                        <select class="ui search dropdown w-100">
                            <option value="">Sắp xếp mới nhất</option>
                            <option value="AL">Miễn phí</option>
                            <option value="AK">Có phí</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" style="border-radius: 0px">
                        <div style="padding: 15px;">
                            <i class="fa fa-search">&nbsp;</i>Có <b> @ViewBag.couttPost</b> được tìm thấy
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 mt-4">
                        <div class="ui cards">
                            <div class="card" style="border-radius: 0px">
                                <div class="content">
                                    <img class="left floated mini ui image" src="~/Content/Layout/img/post/@item.Post_Avata" style="width: 100%; height: 120px">
                                    <div class="header" style="font-size: 15px">
                                        @(item.Post_Title.Length < 40 ? item.Post_Title : item.Post_Title.Substring(0,40))
                                    </div>
                                    <div class="meta">
                                        Chưa có
                                    </div>
                                    <div class="description">
                                        <div class="ui rating" data-rating="3" data-max-rating="5"></div>
                                        <script>
                                            $('.ui.rating')
                                                .rating()
                                                ;
                                        </script>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui two buttons">
                                        <div class="ui basic green button" onclick="window.location.href='/Posts/Details/@item.Post_ID'"><i class="fa fa-eye">&nbsp;</i>Xem code</div>
                                        <div class="ui basic red button"><i class="fa fa-heart">&nbsp;</i>Lưu code</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-3 ">
            <div class="card">
                <aside class="single_sidebar_widget popular_post_widget" style="padding: 10px">
                    <b>Code nổi bật</b>
                    @Html.Action("ListHightLightPosts", "View")
                </aside>
            </div>
            <!--Quảng cáo-->
            <div class="w3-content w3-section" style="width:100%">
                <img class="mySlides" src="https://sharecode.vn/FilesUpload/Banner/15_19_18_meo%20tang%20doanh%20thu%20ban%20code.jpg" style="width:100%; height:200px">
                <img class="mySlides" src="https://www.w3schools.com/w3css/img_chicago.jpg" style="width:100%; height:200px">
                <img class="mySlides" src="https://sharecode.vn/FilesUpload/Banner/15_19_18_meo%20tang%20doanh%20thu%20ban%20code.jpg" style="width:100%; height:200px">
            </div>
            <script>
                var myIndex = 0;
                carousel();

                function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    myIndex++;
                    if (myIndex > x.length) { myIndex = 1 }
                    x[myIndex - 1].style.display = "block";
                    setTimeout(carousel, 2000); // Change image every 2 seconds
                }
            </script>
        </div>
    </div>
</div>
<div class="courses-area section-padding40 fix">
    <div class="container">
        <!--
            <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Có  code được tìm thấy</h2>
                </div>
            </div>
        </div>
        -->
        <div class="row">

            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"].ToString(), new { page }))
            </div>
        </div>
    </div>
</div>
