@using ShareCode.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<tblOrder>
@{
    ViewBag.Title = "PostBought";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PostBought</h2>

@foreach(var item in Model)
{
    <span>@item.tblPost.Post_Title</span>
}

<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("PoatBought", new { page }))
</div>