@model ShareCode.Models.tblComment
@{
    int postid = ViewBag.postid;
}

<h4>Bình luận</h4>
@using (Ajax.BeginForm("Create", "Comments", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "formComment", OnSuccess = "LoadListComment()" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Comment_Post" value="@postid" />
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <textarea class="form-control w-100" name="Comment_Contents" id="comment" cols="30" rows="9"
                          placeholder="Write Comment"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        @if (Session["member"] != null)
        {
            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
        }
        else
        {
            <a href="#" data-toggle="modal" data-target="#login" class="button button-contactForm btn_1 boxed-btn">Post Comment</a>
        }
    </div>
}
<input type="hidden" value="@postid" id="post_id" />
<script>
    function LoadListComment() {
        let id = document.getElementById("post_id").value;
        $.ajax({
            type: "post",
            url: "/Comments/GetCommentByPostId?id=" + id,
            contentType: "html",
            success: function (result) {
                $("#commentsList").html(result);
                onSuccessCmt();
            }
        })
    }
</script>