@model ShareCode.Models.tblComment
@{
    int postid = ViewBag.postid;
}

<h4>Bình luận</h4>
@using (Ajax.BeginForm("Create", "Comments", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "commentsList", OnSuccess = "onSuccessCmt()" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Comment_Post" id="post_id" value="@postid" />
    <div class="form-group">
        @if (Session["member"] != null)
        {
            <div id="" class="bg-light p-2">
                <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea name="Comment_Contents" id="comment" class="form-control ml-1 shadow-none textarea"></textarea></div>
                <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit">Bình luận</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
            </div>
        }
        else
        {
            <a href="#" data-toggle="modal" data-target="#login" class="button button-contactForm btn_1 boxed-btn">Đăng nhập để bình luận</a>
        }
    </div>
}