@using ShareCode.Models;
@{
    DBShareCodeEntities db = new DBShareCodeEntities();
    tblCustom custom = db.tblCustoms.Find(1);
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->

    <link href="~/Content/UI/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/Semantic-UI-CSS-master/semantic.min.css" rel="stylesheet" />
    <script src="~/Content/Semantic-UI-CSS-master/semantic.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Design Blog a Blog Category Bootstrap Responsive Website Template | Home : W3layouts</title>

    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <script src="~/Scripts/angular.min.js"></script>
    <!-- Template CSS -->

    <link rel="stylesheet" href="~/Content/Layout/css/style-starter.css">
    <link href="~/Content/fontawesome-free-5.14.0-web/css/all.min.css" rel="stylesheet" />

    <style>
        #menu ul {
            background: #1F568B;
            list-style-type: none;
            text-align: center;
        }

        #menu li {
            color: #f1f1f1;
            display: inline-block;
            width: 120px;
            height: 40px;
            line-height: 40px;
            margin-left: -5px;
        }

        #menu a {
            text-decoration: none;
            color: #fff;
            display: block;
        }

            #menu a:hover {
                background: #F1F1F1;
                color: #333;
            }
    </style>
</head>

<body>
    <!-- header -->
    <header class="w3l-header sticky-top" style="background-color: white">
        <!--/nav-->
        <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-pencil-square-o"></span> Design Blog
                </a>
                <!-- if logo is image enable this
                    <a class="navbar-brand" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item " href="lifestyle.html">Lifestyle posts</a>
                                <a class="dropdown-item" href="culture.html">Culture posts</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>

                    <!--/search-right-->
                    <div class="search-right mt-lg-0 mt-2">
                        <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                        <!-- search popup -->
                        <div id="search" class="pop-overlay">
                            <div class="popup">
                                <h3 class="hny-title two">Search here</h3>
                                <form action="#" method="Get" class="search-box">
                                    <input type="search" placeholder="Search for blog posts" name="search"
                                           required="required" autofocus="">
                                    <button type="submit" class="btn">Search</button>
                                </form>
                                <a class="close" href="#close">×</a>
                            </div>
                        </div>
                        <!-- /search popup -->
                    </div>
                    <!--//search-right-->
                    <!-- author -->
                    <div class="header-author d-flex ml-lg-4 pl-2 mt-lg-0 mt-3">
                        <a class="img-circle img-circle-sm" href="#author">
                            <img src="~/Content/Layout/img/author.jpg" class="img-fluid" alt="...">
                        </a>
                        <div class="align-self ml-3">
                            <a href="#author">
                                <h5>Alexander</h5>
                            </a>
                            <span>Blog Writer</span>
                        </div>
                    </div>
                    <!-- // author-->
                </div>

                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </div>

        </nav>
        <!--//nav-->
        <!-- //header -->

    </header>
    
    <div class="w3l-homeblock1 py-5">
        <div class="container pt-lg-5 pt-md-4" style="max-width: 1400px">
            <!-- block -->
            @RenderBody()
            <!-- //block -->
            <!-- block -->
            
            <!-- //block-->
            <!-- block -->
            
            <!-- //block-->
            <!-- block -->
            <div class="row mt-5 pt-5">
                <div class="col-lg-9 most-recent">
                    <h3 class="section-title-left">Code mới nhất </h3>
                    <div class="row">
                        @for (var i = 0; i < 15; i++)
                        {
                            <div class="col-lg-3 mt-3">
                                <div class="ui special cards">
                                    <div class="card">
                                        <div class="blurring dimmable image">
                                            <div class="ui dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <div class="ui inverted button">Xem</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="https://sharecode.vn/FilesUpload/Code/code-web-ban-hang---web-ban-ruou-kem-bao-cao-145251.jpg" style="width: 100%; height: 170px">
                                        </div>
                                        <center>
                                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-download">&nbsp;</i>1</button>
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-eye">&nbsp;</i>1</button>
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-heart">&nbsp;</i>1</button>
                                            </div>
                                        </center>
                                        <div class="content">
                                            <a class="text-danger"><i class="fa fa-bookmark">&nbsp;</i>ASP.net</a>
                                            <br />
                                            <a style="color: brown">Code Web bán hàng - web bán rượu (kèm báo cáo)</a>
                                            <div class="meta">
                                                <span class="date">Created in Sep 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <h3 class="section-title-left mt-5">Code nổi bậc</h3>
                    <div class="row">
                        @for (var i = 0; i < 15; i++)
                        {
                            <div class="col-lg-3 mt-3">
                                <div class="ui special cards">
                                    <div class="card">
                                        <div class="blurring dimmable image">
                                            <div class="ui dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <div class="ui inverted button">Xem</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="https://sharecode.vn/FilesUpload/Code/code-web-ban-hang---web-ban-ruou-kem-bao-cao-145251.jpg" style="width: 100%; height: 170px">
                                        </div>
                                        <center>
                                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-download">&nbsp;</i>1</button>
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-eye">&nbsp;</i>1</button>
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-heart">&nbsp;</i>1</button>
                                            </div>
                                        </center>
                                        <div class="content">
                                            <a class="text-danger"><i class="fa fa-bookmark">&nbsp;</i>ASP.net</a>
                                            <br />
                                            <a style="color: brown">Code Web bán hàng - web bán rượu (kèm báo cáo)</a>
                                            <div class="meta">
                                                <span class="date">Created in Sep 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <h3 class="section-title-left mt-5">Website</h3>
                    <div class="row">
                        @for (var i = 0; i < 8; i++)
                        {
                            <div class="col-lg-3 mt-3">
                                <div class="ui special cards">
                                    <div class="card">
                                        <div class="blurring dimmable image">
                                            <div class="ui dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <div class="ui inverted button">Xem</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="https://sharecode.vn/FilesUpload/Code/code-web-ban-hang---web-ban-ruou-kem-bao-cao-145251.jpg" style="width: 100%; height: 170px">
                                        </div>
                                        <center>
                                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-download">&nbsp;</i>1</button>
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-eye">&nbsp;</i>1</button>
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-heart">&nbsp;</i>1</button>
                                            </div>
                                        </center>
                                        <div class="content">
                                            <a class="text-danger"><i class="fa fa-bookmark">&nbsp;</i>ASP.net</a>
                                            <br />
                                            <a style="color: brown">Code Web bán hàng - web bán rượu (kèm báo cáo)</a>
                                            <div class="meta">
                                                <span class="date">Created in Sep 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <h3 class="section-title-left mt-5">Game</h3>
                    <div class="row">
                        @for (var i = 0; i < 8; i++)
                        {
                            <div class="col-lg-3 mt-3">
                                <div class="ui special cards">
                                    <div class="card">
                                        <div class="blurring dimmable image">
                                            <div class="ui dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <div class="ui inverted button">Xem</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="https://sharecode.vn/FilesUpload/Code/code-web-ban-hang---web-ban-ruou-kem-bao-cao-145251.jpg" style="width: 100%; height: 170px">
                                        </div>
                                        <center>
                                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-download">&nbsp;</i>1</button>
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-eye">&nbsp;</i>1</button>
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-heart">&nbsp;</i>1</button>
                                            </div>
                                        </center>
                                        <div class="content">
                                            <a class="text-danger"><i class="fa fa-bookmark">&nbsp;</i>ASP.net</a>
                                            <br />
                                            <a style="color: brown">Code Web bán hàng - web bán rượu (kèm báo cáo)</a>
                                            <div class="meta">
                                                <span class="date">Created in Sep 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <h3 class="section-title-left mt-5">Ứng dụng</h3>
                    <div class="row">
                        @for (var i = 0; i < 8; i++)
                        {
                            <div class="col-lg-3 mt-3">
                                <div class="ui special cards">
                                    <div class="card">
                                        <div class="blurring dimmable image">
                                            <div class="ui dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <div class="ui inverted button">Xem</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="https://sharecode.vn/FilesUpload/Code/code-web-ban-hang---web-ban-ruou-kem-bao-cao-145251.jpg" style="width: 100%; height: 170px">
                                        </div>
                                        <center>
                                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-download">&nbsp;</i>1</button>
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-eye">&nbsp;</i>1</button>
                                                <button type="button" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px"><i class="fa fa-heart">&nbsp;</i>1</button>
                                            </div>
                                        </center>
                                        <div class="content">
                                            <a class="text-danger"><i class="fa fa-bookmark">&nbsp;</i>ASP.net</a>
                                            <br />
                                            <a style="color: brown">Code Web bán hàng - web bán rượu (kèm báo cáo)</a>
                                            <div class="meta">
                                                <span class="date">Created in Sep 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <script>
                        $('.special.cards .image').dimmer({
                            on: 'hover'
                        });
                    </script>
                    <!-- pagination -->
                    <div class="pagination-wrapper mt-5">
                        <ul class="page-pagination">
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#url">2</a></li>
                            <li><a class="page-numbers" href="#url">3</a></li>
                            <li><a class="page-numbers" href="#url">4</a></li>
                            <li><a class="page-numbers" href="#url">....</a></li>
                            <li><a class="page-numbers" href="#url">15</a></li>
                            <li><a class="next" href="#url"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>
                    <!-- //pagination -->
                </div>
                <div class="col-lg-3 trending mt-lg-0 mt-5 mb-lg-5 border">
                    <div class="pos-sticky" style="padding: 10px">
                        <h3 class="section-title-left">Code nổi bậc </h3>
                        <div class="row">
                            @for (var i = 0; i < 10; i++)
                            {
                                <div class="row mt-2">
                                    <div class="col-lg-4">
                                        <img src="https://sharecode.vn/FilesUpload/Code/code-web-ban-hang---web-ban-ruou-kem-bao-cao-145251.jpg" style="width: 100%; height: 70px">
                                    </div>
                                    <div class="col-lg-8">
                                        <a class="text-danger"><i class="fa fa-bookmark">&nbsp;</i>ASP.net</a>
                                        <br />
                                        <a>Code Web bán hàng - web bán rượu (kèm báo cáo)</a>
                                        <br />
                                        <i class="fa fa-download text-primary">&nbsp;</i>1
                                        <i class="fa fa-eye text-dark">&nbsp;</i>1
                                        <i class="fa fa-heart text-danger">&nbsp;</i>1
                                    </div>
                                    <div class="col-lg-12">
                                        <hr />
                                    </div>
                                </div>
                            }
                        </div>
                        
                        
                        
                        
                    </div>
                </div>
            </div>

            <!-- //block-->
            <!-- ad block -->
            <div class="ad-block text-center mt-5">
                <a href="#url"><img src="~/Content/Layout/img/ad.gif" class="img-fluid" alt="ad image" /></a>
            </div>
            <!-- //ad block -->

        </div>
    </div>
    <!-- footer -->
    <footer class="w3l-footer-16">
        <div class="footer-content py-lg-5 py-4 text-center">
            <div class="container">
                <div class="copy-right">
                    <h6>
                        © 2020 Design Blog . Made with <span class="fa fa-heart" aria-hidden="true"></span>, Designed by
                        <a href="https://w3layouts.com">W3layouts</a>
                    </h6>
                </div>
                <ul class="author-icons mt-4">
                    <li>
                        <a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                    </li>
                    <li><a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                    <li>
                        <a class="google" href="#url"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                    </li>
                    <li><a class="linkedin" href="#url"><span class="fa fa-linkedin" aria-hidden="true"></span></a></li>
                    <li><a class="github" href="#url"><span class="fa fa-github" aria-hidden="true"></span></a></li>
                    <li><a class="dribbble" href="#url"><span class="fa fa-dribbble" aria-hidden="true"></span></a></li>
                </ul>
                <button onclick="topFunction()" id="movetop" title="Go to top">
                    <span class="fa fa-angle-up"></span>
                </button>
            </div>
        </div>

        <!-- move top -->
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->
    </footer>
    <!-- //footer -->
    <!-- Template JavaScript -->
    <script src="~/Content/Layout/js/theme-change.js"></script>

    <script src="~/Content/Layout/js/jquery-3.3.1.min.js"></script>

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->

    <script src="~/Content/Layout/js/bootstrap.min.js"></script>
    @Html.Action("Modal", "View")
    @Html.Action("Val", "View")
</body>

</html>