@using ShareCode.Models;
@{
    DBShareCodeEntities db = new DBShareCodeEntities();
    tblCustom custom = db.tblCustoms.Find(1);
}
@{
    ViewBag.Title = "Share Code Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ui.search > .results {
        width: 71em;
    }
</style>
<section class="slider-area " style="background-image: url('../Images/pexels-photo-5473337.jpeg') ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-12">
                        <div class="">
                            <form>
                                <div class="row mt-3" style="padding: 5px">
                                    <div class="col-lg-12" style="padding: 5px;">
                                        <div class="ui search">
                                            <div class="ui icon input" style="width: 100%">
                                                <input class="prompt" type="text" placeholder="Nhập tên code, ngôn ngữ, thể loại, nội dung..." style="border-radius: 5px">
                                                <i class="search icon"></i>
                                            </div>
                                            <div class="results">aaa</div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 mt-2" style="padding: 5px;">
                                        <select class="form-control w-100">
                                            <option>Chọn danh mục</option>tblPosts
                                        </select>
                                    </div>
                                    <div class="col-lg-4 mt-2" style="padding: 5px">
                                        <select class="form-control w-100">
                                            <option>Chọn code</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 mt-2" style="padding: 5px">
                                        <button class="ui red button w-100" style="height: 44px;"><i class="fa fa-search">&nbsp;</i></button>
                                    </div>
                                </div>
                            </form>
                            <h1 style="color: white; font-size: 60px; font-weight: bold" data-animation="fadeInLeft" data-delay="0.2s">@custom.ct_01<br> @custom.ct_02</h1>
                            <p style="color: white;font-size: 20px" data-animation="fadeInLeft" data-delay="0.4s">@custom.ct_03</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="services-area">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="~/Content/Layout/img/icon/icon1.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>60+ UX courses</h3>
                        <p>The automated process all your website tasks.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="~/Content/Layout/img/icon/icon2.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>Expert instructors</h3>
                        <p>The automated process all your website tasks.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="~/Content/Layout/img/icon/icon3.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>Life time access</h3>
                        <p>The automated process all your website tasks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    @Html.Action("Sematic", "Posts")
</script>
<script>
    $('.ui.search')
        .search({
            source: content,
            maxResults: 30
        })
        ;
</script>