@using ShareCode.Models;
@model List<tblCategory>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-topic text-center mb-30">
                <div class="topic-img">
                    <img src="~/Content/Layout/img/gallery/@item.Cat_Image" alt="">
                    <div class="topic-content-box">
                        <div class="topic-content">
                            <h3><a href="@Url.Action("FilterByCatID", "Posts", new { id = item.Cat_ID})" style="text-decoration: none">@item.Cat_Name</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>