@model ShareCode.Models.tblRepply
@using ShareCode.Models;
@{
    DBShareCodeEntities db = new DBShareCodeEntities();
    HttpCookie member_cookie = Request.Cookies["member_id"];
    var a = "aa";
}
@Html.Action("GetRepliesByCmtId", "Repplies", new { id = Model.Rep_Comment })
@if (member_cookie != null)
{
    tblUser user = db.tblUsers.Find(int.Parse(member_cookie.Value.ToString()));
    using (Ajax.BeginForm("Create", "Repplies", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = a + Model.Rep_Comment }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.Rep_Comment" name="Rep_Comment" />
        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="~/Content/Layout/img/users/@user.User_Avata" width="40"><textarea class="form-control ml-1 shadow-none textarea" name="Rep_Contents"></textarea></div>
        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit">Post repply</button></div>
    }
}
else
{
    <a href="#" data-target="#login" data-toggle="modal">Đăng nhập để trả lời</a>
}