@using ShareCode.Models;
@model List<tblGenre>
    
@foreach(var item in Model)
{
    <a class="dropdown-item " href="@Url.Action("FilterPostsByGenresID", "Search", new { id = item.Genres_ID})">@item.Genres_Name</a>
}
