@using ShareCode.Models;
@model List<tblCategory>

@foreach (var item in Model)
{
    <a class="dropdown-item " href="@Url.Action("FilterPostsByCatID", "Posts", new { id = item.Cat_ID})">@item.Cat_Name</a>
}
