@using ShareCode.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<tblBlog>
@{ 

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="#">@item.Blog_Title</a>
        </li>
    }
</ul>