@using ShareCode.Models;
@{
    DBShareCodeEntities db = new DBShareCodeEntities();
    HttpCookie member_cookie = Request.Cookies["member_id"];
    if (member_cookie == null)
    {
        <script>
            window.location.href = "/Home/Index";
        </script>
    }
    int id = int.Parse(member_cookie.Value.ToString());
    if (db.tblUsers.SingleOrDefault(t => t.User_ID == id && t.User_Role == 1) == null)
    {
        <script>
            window.location.href = "/Home/Index";
        </script>
    }
    tblUser user = db.tblUsers.Find(id);
}
<div class="pcoded-inner-navbar main-menu">
    <div class="">
        <div class="main-menu-header">
            <img class="img-40 img-radius" src="~/Content/Layout/img/users/@user.User_Avata" alt="@user.User_DisplayName">
            <div class="user-details">
                <span>@user.User_DisplayName</span>
                <span id="more-details">Admin<i class="ti-angle-down"></i></span>
            </div>
        </div>

        <div class="main-menu-content">
            <ul>
                <li class="more-details">
                    <a href="#"><i class="ti-user"></i>View Profile</a>
                    <a href="#!"><i class="ti-settings"></i>Settings</a>
                    <a href="/User/Logout"><i class="ti-layout-sidebar-left"></i>Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pcoded-search">
        <span class="searchbar-toggle">  </span>
        <div class="pcoded-search-box ">
            <input type="text" placeholder="Search">
            <span class="search-icon"><i class="ti-search" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Quản lý</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="active">
            <a href="/Admin/HomeAdmin/Index">
                <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                <span class="pcoded-mtext" data-i18n="nav.dash.main">Trang chủ</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li class="active">
            <a href="/Admin/HomeAdmin/Index">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>D</b></span>
                <span class="pcoded-mtext" data-i18n="nav.dash.main">Danh sách code đợi duyệt(@db.tblPosts.Where(t => t.Post_Active == false && t.Post_Trash == false).Count())</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li class="pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Quản lý</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" ">
                    <a href="/Admin/tblPostsAdmin/Index">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Code</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/Admin/tblCategoriesAdmin/Index">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Danh mục</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/Admin/tblGenresAdmin/Index">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Thể loại</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/Admin/tblUsersAdmin/Index">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Người dùng</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/Admin/tblCommentsAdmin">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Bình luận</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/Admin/tblBlogsAdmin">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Tin tức</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/Admin/tblReportsAdmin">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Báo cáo</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/Admin/tblOrdersAdmin">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Hóa đơn</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>

            </ul>
        </li>
    </ul>
    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Thêm</div>
    <ul class="pcoded-item pcoded-left-item">
        <li>
            <a href="/Admin/tblPostsAdmin/Create">
                <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Thêm code</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="/Admin/tblCategoriesAdmin/Create">
                <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Thêm danh mục</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="/Admin/tblGenresAdmin/Create">
                <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Thêm thể loại</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="/Admin/tblUsersAdmin/create">
                <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Thêm người dùng</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>

    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Thống kê</div>
    <ul class="pcoded-item pcoded-left-item">
        <li>
            <a href="chart.html">
                <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Doanh thu</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li>
            <a href="map-google.html">
                <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                <span class="pcoded-mtext" data-i18n="nav.form-components.main">Người dùng</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li class="pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Code</span>
                <span class="pcoded-mcaret"></span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" ">
                    <a href="auth-normal-sign-in.html">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Login</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="auth-sign-up.html">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Register</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="sample-page.html">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Sample Page</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>

    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">Tùy biến</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu ">
            <a href="#">
                <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                <span class="pcoded-mtext" data-i18n="nav.menu-levels.main">Tùy biến</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
</div>
